@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&family=Maven+Pro&family=Nunito:ital,wght@1,500&display=swap');

.logo {
    width: 70px;
    height: 70px;
}

.iconContainer {
    cursor: pointer;
    transition: 0.5s ease;
}

.iconContainer:hover {
    transform: scale(1.3);
}

.logo1:hover {
    color: crimson;
}

.logo2:hover {
    color: #4267B2;
}

.logo3:hover {
    color: #00acee;
}
.footer{
    background-color: #f2f2f2;
}
.contact{
color:#2b6777;
}