#Login-page2
{
    background: linear-gradient(-45deg, #ee765283, #e73c7e66, #23a5d5af, #23d5ab87);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding-bottom: 30px;
    height: 100vh;
}

#top_bar
{
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

#short_title
{
    font-size: 17px;
    font-weight: 400;
}

.login-container
{
    display: flex !important;
    margin-top : 20px;
}

#login-content
{
    display:flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 30%;  
    border-radius:15px;
    padding: 5px 25px 20px 25px;
}

.login-title2
{
    text-align: center;
    border: auto;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

#filling-form > button
{
    margin-top: 5px;
    background-color: #eb3d34;
    border: none;
    width: 100%;
    align-items: center !important;
    border: auto;
    align-self: center;
}

.login-bottom
{
    text-align: center;
    font-size: 16px;
}

.forgot-password
{
    margin: 3px 0px 6px 0px !important;
}

.no-account
{
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .ngo_title{
        font-size: 20px;
    }
    
    #login-content{
        width: 80%;
    }
    .login-title {
        font-size: 30px;
        font-weight: 500;
      }
      .login-container{
          padding-bottom: 20px;
      }
}
